<% @posts.each do |post| %>
  <div class="content">
    <div class = "content-sentence">
      <div class= "content-center">
        <div class= "content-center-top">
          <%= post.title %>
        </div>
        <div class= "content-center-bottom">
          <%= post.created_at %>
        </div>
      </div>
    </div>
    <div class="content-side">
      <div class="content-left">
      </div>
      <div class="content-right">
      </div>
    </div>
  </div>
<% end %>